<div class="background-container text-white">
    <div class="container-fluid align-middle">
        <h1 class="display-1">Astronomy Picture of the Day</h1>
        <p class="lead">Choose a date</p>
        <input 
        class="date-input"
        type="date" 
        [(ngModel)]="selectedDate" 
        (change)="onDateChange()"
        [min]="minDate"
        [max]="maxDate">
    </div>
    <hr>
    <div class="container container-fluid">
        <div class="border border-secondary rounded-2">
                <h1>{{ data?.title }}</h1>
                <h5>Image Credit & copyright: {{ data?.copyright }}</h5>            
        </div>
    </div>
    <div class="container container-fluid">
            <div class="col-md-12">
                <img 
                [src]="data?.url" 
                alt="{{ data?.title }}" 
                *ngIf="data?.url"
                class="img-fluid rounded-2 border border-secondary">
                <p>{{ data?.explanation }}</p>
        </div>
    </div>
</div>